<div>
   <h2> {{snippetTitle}} </h2>
</div>

<div class="box">
    <div> <button>Run Code In Console</button> </div>
    <div class="push">Press F12 to see in the Browser console or run VS.Code </div>
</div>

<div >
    <div class="column left">
        <h2>Code</h2>
        <textarea id="code"> {{codeSnippet}} </textarea>
    </div>

    <div class="column right">
        <div class="results">
            <h3>Results</h3>
            <textarea style="height: 200px;" id=results> {{consoleResults}} </textarea>
            <h3>Test Code</h3>
            <textarea style="height: 200px;" id=testCode> {{testCodeText}} </textarea>
        </div>
    </div>
</div>
<div>
    <div class="descriptions">
        <h2>Description</h2>
        <p>{{snippetDescription}}</p>
    </div>

</div>